//添加背景图片
body { background:url(https://cdn.jsdelivr.net/gh/TUFZ/ImgHosting//TUFZ-Img/bg.png)}
//改掉题头颜色
.site-meta {
    background: 
}
//主标题颜色
.brand{
    color: 
}
//副标题颜色
.site-subtitle{
    color: 
}
//页脚统计文字颜色
.footer{
    color: #ffffff
}
//修改页脚备案链接颜色
.footer a{
    color: #ffffff
}
//修改页脚统计人数的颜色
.footer .with-love{
    color: #ffffff
}