// 网站主题背景
body {
    background: #E4D5D4
}
.header {
    background: #DB91A4
}
.footer {
    background: #DB91A4
}

// 文章内链接文本样式
.post-body p a{ 
    color: #C17823; 
    border-bottom: none; 
    border-bottom: 1px solid #C17823; 
    &:hover { 
        color: #3652B1; 
        border-bottom: none; 
        border-bottom: 1px solid #3652B1; 
    } 
}
// 修改选中字符的颜色
/* webkit, opera, IE9 */
::selection { 
    background: #C17823;
    color: #3652B1; 
}
/* firefox */
::-moz-selection { 
    background: #C17823;
    color: #3652B1;    
}